{% extends 'base.html' %}
{% block title %}Detalhes{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <h1 style="text-align: center; color: white;">Detalhes</h1>
    <table class='table table-success table-hover table-striped border-dark ' style="margin-top: 20px;">
        <tr style="text-align: center; margin-top: 20px;" class="table-dark">
            <th>Id</th>
            <th>Gasto</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Pago</th>
        </tr>
        <tr style="text-align: center;">
            <td>{{dados.id}}</td>
            <td>{{dados.gasto}}</td>
            <td>{{dados.valor}}</td>
            <td>{{dados.categoria}}</td>
            <td>{{dados.data}}</td>
            <td>{{dados.hora}}</td>
            {% if dados.pago %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}
        </tr>
    </table>
    <button class="btn btn-success"><a style="color: white;text-decoration: none;"
            href="{% url 'listagem' %}">Voltar</a></button>
</div>
{% endblock %}