{% extends 'home.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="intro">
        <h1>EXPEND</h1>
        <p>Cuidar do seu dinheiro pode ser simples. Com o Expend, você organiza e planeja sua vida financeira e pessoal
            em um
            único lugar.</p>
        <a class="btn btn-success btn-lg" href="{% url 'login' %}">Entrar</a>
    </div>
    <div class='img'>
        <img src="{% static 'img/man.svg' %}"" alt=" icon">
    </div>
</div>
<!-- <footer>
    By: José Guilherme Lins
</footer> -->
{% endblock %}