{% extends 'home.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <h1>INVISTA-ME</h1>
    <p>Invista-me é um site desenvolvido em Django para administração dos seus investimentos e gastos pessoais.</p>
    <div class="button">
        <button class="btn-new"><a 
                href="{% url 'novo_investimento' %}">NOVO<br>INVESTIMENTO </a></button>
        <button class="btn-list"><a
                href="{% url 'listagem' %}">MEUS<br>INVESTIMENTOS</a></button>
    </div>
</div>
{% endblock %}