{% extends 'home.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="intro">
        <h1>INVISTA-ME</h1>
        <p>Invista-me é um site desenvolvido com Django para administração dos seus investimentos e gastos pessoais.</p>
        <button type="submit"><a href="{% url 'login' %}">Entrar</a></button>
    </div>
    <div class='img'>
        <img src="{% static 'img/man.svg' %}"" alt="icon">
    </div>
</div>
<footer>
    By: José Guilherme Lins
</footer>
{% endblock %}