{% extends 'base.html' %}
{% block title %}Investimentos{% endblock %}
{% block content %}

<div class="container">
    <h1 style="text-align: center; color: #fff; margin-top: 20px">Meus Gastos</h1>

    <button class="btn btn-success" style="margin-bottom: 10px;"><a style="color: white; text-decoration: none;"
            href="{% url 'novo_investimento' %}">Novo Gasto</a></button><button class="btn btn-outline-secondary"
        style="margin-bottom: 10px; margin-left: 10px;"><a style="color: white; text-decoration: none;"
            href="{% url 'contatos' %}">Meus
            Contatos</a></button>
    <table class='table table-success table-hover table-striped border-dark'>
        <tr style="text-align: center; border-radius: 20px;" class="table-dark">
            <!-- <th>ID</th> -->
            <th>Gastos</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for dado in dados %}
        <tr style="text-align: center;">
            <!-- <td>{{dado.id}}</td> -->
            <td>{{dado.gasto}}</td>
            <td>{{dado.valor}}</td>
            <td>{{dado.categoria}}</td>

            <td><button class="btn btn-primary"><a style='color: black;text-decoration: none;'
                        href="{% url 'detalhes' dado.id %}">Detalhes</a></button></td>
            <td><button class="btn btn-warning"><a style='color: black;text-decoration: none;'
                        href="{% url 'editar' dado.id %}">Editar</a></button></td>
            <td><button class="btn btn-danger"><a style='color: black;text-decoration: none;'
                        href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
        </tr>
        {% endfor %}

    </table>
    <h3 style="color: #fff;">Gasto Total: R$ {{soma.total}}</h3>


</div>

<!-- aqui -->

{% endblock %}