{% extends 'base.html' %}
{% block title %}Investimentos{% endblock %}
{% block content %}

<div class="container">
    <h1 style="text-align: center; color: #fff; margin-top: 20px">Meus Investimentos</h1>

    <button class="btn btn-secondary" style="margin-bottom: 10px;"><a style="color: white; text-decoration: none;"
            href="{% url 'novo_investimento' %}">Novo Investimento</a></button>
    <table class='table table-success table-hover table-striped border-dark'>
        <tr style="text-align: center; border-radius: 20px;" class="table-dark">
            <th>ID</th>
            <th>Investimento</th>
            <th>Valor</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for dado in dados %}
        <tr style="text-align: center;">
            <td>{{dado.id}}</td>
            <td>{{dado.investimento}}</td>
            <td>{{dado.valor}}</td>
            <td><button class="btn btn-primary"><a style='color: black;text-decoration: none;'
                        href="{% url 'detalhes' dado.id %}">Detalhes</a></button></td>
            <td><button class="btn btn-warning"><a style='color: black;text-decoration: none;'
                        href="{% url 'editar' dado.id %}">Editar</a></button></td>
            <td><button class="btn btn-danger"><a style='color: black;text-decoration: none;'
                        href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-success"><a style='color: white;text-decoration: none;'
            href="{% url 'index' %}">Voltar</a></button>
</div>


{% endblock %}