
body{
    background: url("/static/img/fundo.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1D1D1D;
    padding: 0;
    margin: 0;
    
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}

.intro{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.intro > h1{
    color: #D2D2D2;
    text-shadow: #000 7px 4px 4px;
    text-align: center;
    font-size: 90px;
    font-family: 'Overpass', sans-serif;
    margin: 30px 0px;
    
}
.intro > p{
    color: #FFFFFF;
    text-shadow: #000 3px 1px 1px;
    text-align: center;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    
}


.intro > button{
    border-radius: 15px;
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-in-out;
    background-color: #1c7c4f;
    background-image: -webkit-linear-gradient(45deg, #0c5835 50%, transparent 50%);
    background-image: linear-gradient(45deg, #0c5835 50%, transparent 50%);
    width: 40%;

}

.intro > button:hover{
    background-position: 0;
   
}
.intro button > a {
    color: #fff; 
    text-decoration: none;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}
.button > button > a:hover {
    color:#fff;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    margin-right: 5%;
}

.navbar-index{
    width: 100%;
}