body{
    background: url("/static/img/home4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container {
    background: none;
    filter: none;
    width: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    resize:none;
    overflow: auto;
}

.container > h1{
    color: gold;
    text-shadow: #000 7px 4px 4px;
    text-align: center;
    font-size: 90px;
    font-family: Impact, fantasy;
    font-weight: 400
}
.container > p{
    color: #fff;
    text-shadow: #000 7px 4px 4px;
    text-align: center;
    font-size: 40px;
    font-family: OCR A Std, monospace;
    font-weight: 300
}

.button{
    display: flex; 
    justify-content: center; 
    margin:5 10px;
}
button{
    border-radius: 12px;
    border-color: black;
    color: black;
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 500ms ease-in-out;
}
.btn-new{
    margin-left: 40px;
    margin-right: 15px;
    background-color: #0D6EFD;
    background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
}
.btn-new:hover{
    background-position: 0;
    box-shadow: 0 0 1em black;
}
.btn-list{
    background-color: #157347;
    background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    
}
.btn-list:hover{
    background-position: 0;
    box-shadow: 0 0 1em black;
}
.button > button > a {
    color: black; 
    text-decoration: none;
    font-size: 30px;
    font-family:Consolas; 
}
