{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="container">
    <h1 style="text-align: center; color: white; padding-top: 20px;">Você saiu do sistema</h1>
    <form method="POST" style='color: white; padding-top: 40px; color: white;'>
        {% csrf_token %}
        {{ form | crispy }}
        <div style="padding-top: 30px;">
            <a href="{% url 'login' %}" style="color:white; display: flex; justify-content: center;">Fazer login
                novamente!</a>
        </div>
    </form>
</div>
<script>
    function redirect(){
       window.location.href = "/";
    }

    setTimeout(redirect, 7000); //2000 is equivalent to 2 seconds
</script>
{% endblock %}